@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}


.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5c0;
  border-radius: 1rem;
}
