@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}


.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top right, #0703fc 0%, #ec135f 100%);
  border-radius: 1rem;
}
