.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#chat-section {
  height: 300px;
  overflow-y: auto;
  border-style: solid;
  border-width: 5px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column-reverse; 
}

.chat {
  border-top: solid;
  border-width: 2px;
  display: flex;  
  justify-content: space-between;
}

.username {
  padding-left: 30px;
  font-weight: bold;
}

.chat-content {
  padding-right: 30px;
}
